* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1841a1;
}

#upperbody {
  margin: 0;
  width: 100vw;
  height: 180px;
  display: grid;
  grid-template-columns: 28vw 38vw 34vw;
  grid-template-rows: 120px 60px;
  background-color: #020069;
}

#searchbox {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 100%;
  height: 30px;
  border-radius: 20px;
}

#enter {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

#lowerbody {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 20px;
  background-color: aliceblue;
}

.movie-container {
  margin: 75px 5px 10px 5px;
  height: 210px;
  width: 150px;
  background-color: aqua;
}
